@font-face {
  font-family: 'luckiest_guyregular';
  src: url('./assets/fonts/luckiest-guy/luckiestguy-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/luckiest-guy/luckiestguy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'luckiest_guyregular';
}

body {
  background-color: #404040;
  font-size: 16px;
}

main {
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  justify-content: center;
}

main,
#start-screen,
#board-one,
#board-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-heading {
  margin-top: 10vh;
  height: 10vh;
  text-align: center;
  font-size: 96px;
  color: white;
}

#play-now {
  margin-top: 25vh;
  background-color: black;
  width: 490px;
  height: 130px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 48px;
}

#play-now:active {
  background-color: white;
  color: black;
}

#placement-heading {
  position: relative;
  margin: 10vh 0 1rem 0;
  background-color: white;
  height: 8vh;
  width: 500px;
  text-indent: 5px;
  font-size: 28px;
  border-radius: 8px;
}

#placement-direction {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
  user-select: none;
}

#placement-direction:hover {
  background-color: gray;
}

#start-game,
#play-again {
  margin-top: 2vh;
  height: 4vh;
  width: 200px;
  border: none;
  background-color:black;
  color: white;
  font-size: 24px;
  border-radius: 12px;
}

#start-game:active,
#play-again:active {
  background-color: white;
  color: black;
} 


#board-one,
#board-two {
  min-width: 500px;
  aspect-ratio: 1 / 1;
  background-color: rgb(95, 95, 95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
}

.board-row {
  display: flex;
  justify-content: center;
  gap: 9px;
  max-width: 100%;
}

.board-field {
  height: 40px;
  aspect-ratio: 1 / 1;
  background-color: aqua;
}

.board-field:hover {
  background-color: skyblue;
}

#board-holder {
  display: flex;
  gap: 5vw;
}

.black {
  background-color: black ;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.aqua {
  background-color: lightskyblue;
}

#game-verdict {
  margin-top: 5vh;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}

#game-verdict-text {
  font-size: 48px;
}